@import "tailwindcss";
@plugin '../../hero.ts';

@source '../../../../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

/* body,
html {
  @apply bg-contain;
} */

div[data-overlay-container="true"] {
  @apply flex flex-col flex-1;
}

.PhoneInput {
  @apply bg-default-100 rounded-lg flex items-center ease-out duration-200 shadow-sm;
  @apply hover:bg-default-200;
  @apply pl-4 w-full overflow-hidden;
}

.PhoneInput--focus {
  @apply !bg-default-100;
}

.PhoneInputInput {
  @apply px-4 py-3 w-full;
  @apply outline-none bg-transparent;
}

.PhoneInputCountryIcon {
  width: 30px;
  height: var(--PhoneInputCountryFlag-height);
}

.PhoneInputCountryIcon--square {
  width: var(--PhoneInputCountryFlag-height);
}

.PhoneInputCountryIcon--border {
  background-color: var(--PhoneInputCountryFlag-backgroundColor--loading);
  box-shadow: 0 0 0 var(--PhoneInputCountryFlag-borderWidth) var(--PhoneInputCountryFlag-borderColor), inset 0
    0 0 var(--PhoneInputCountryFlag-borderWidth) var(--PhoneInputCountryFlag-borderColor);
}

.PhoneInputCountryIconImg {
  display: block;
  width: 100%;
  height: 100%;
}

.PhoneInputInternationalIconPhone {
  opacity: var(--PhoneInputInternationalIconPhone-opacity);
}

.PhoneInputInternationalIconGlobe {
  opacity: var(--PhoneInputInternationalIconGlobe-opacity);
}

.PhoneInputCountry {
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  margin-right: var(--PhoneInputCountrySelect-marginRight);
}

.PhoneInputCountrySelect {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  border: 0;
  opacity: 0;
  cursor: pointer;
}

.PhoneInputCountrySelect[disabled],
.PhoneInputCountrySelect[readonly] {
  cursor: default;
}

.PhoneInputCountrySelectArrow {
  @apply hidden;
}

.PhoneInputCountrySelect:focus + .PhoneInputCountryIcon + .PhoneInputCountrySelectArrow {
  opacity: 1;
  color: var(--PhoneInputCountrySelectArrow-color--focus);
}

.PhoneInputCountrySelect:focus + .PhoneInputCountryIcon--border {
  box-shadow: 0 0 0 var(--PhoneInputCountryFlag-borderWidth) var(--PhoneInputCountryFlag-borderColor--focus),
    inset 0 0 0 var(--PhoneInputCountryFlag-borderWidth) var(--PhoneInputCountryFlag-borderColor--focus);
}

.PhoneInputCountrySelect:focus + .PhoneInputCountryIcon .PhoneInputInternationalIconGlobe {
  opacity: 1;
  color: var(--PhoneInputCountrySelectArrow-color--focus);
}

.Toastify__toast {
  @apply !rounded-large;
}

:root {
  --toastify-color-success: #17c964 !important;
}

reach-portal {
  @apply !z-[9999] relative;
}

main {
  @apply flex flex-1;
}

div[data-rsbs-overlay="true"] {
  @apply bg-content1;
}

div[data-rsbs-root]::after {
  background: hsl(var(--heroui-content1) / 1) !important;
}

.skeleton {
  position: relative;
}

.skeleton * {
  color: transparent !important;
  pointer-events: none;
  user-select: none;
}

@keyframes pulse2 {
  0% {
    opacity: 0.8;
  }
  50% {
    opacity: 0.9;
  }
  100% {
    opacity: 0.8;
  }
}

.skeleton h1,
.skeleton h2,
.skeleton h3,
.skeleton h4,
.skeleton p {
  @apply rounded-small bg-content3 animate-[pulse2_1s_infinite] min-h-1;
}

.skeleton * {
  @apply animate-[pulse2_2s_ease-in-out_infinite];
}
